#
# ion + mol + water in a box of 48x48x96
#

# All the atoms from diferent molecules will be separated at least 2.2
# Angstroms at the solution.

tolerance 2.5

# The file type of input and output files is PDB

filetype pdb

# The name of the output file

output OPDB
#writecrd OCRD

structure ../molecules/III.drude.pdb
  number N_I
  inside box -24 -24 -24 24 24 24
end structure

structure ../molecules/MMM.drude.pdb
  number N_M
  inside box -24 -24 -24 24 24 24
end structure

structure ../molecules/water.drude.pdb
  number N_W
  inside box -24 -24 -48 24 24 48
end structure
